# --- Telegram & Bot Frameworks ---
pyrofork>=2.3.69
TgCrypto
TgCrypto-pyrofork

# --- Asynchronous & Networking ---
aiohttp==3.9.5
uvloop

# --- Database & Utilities ---
motor
hachoir

# --- Backend ---
python-dotenv
jinja2
aiofiles
