# --- Telegram & Bot Frameworks ---
wzgram>=3.0.23
git+https://github.com/rjriajul/WarpCrypto

# --- Asynchronous & Networking ---
aiohttp>=3.9.5
uvloop

# --- Database & Utilities ---
motor>=3.6.0
hachoir
sqlalchemy>=2.0.44
aiosqlite>=0.21.0

# --- RSS Bot & Services ---
seedrcc>=2.1.2
structlog>=25.5.0
pydantic>=2.12.5
pydantic-settings>=2.12.0

# --- Backend ---
python-dotenv>=1.2.1
jinja2
aiofiles
beautifulsoup4>=4.12.0
seleniumbase>=4.20.0

